body{
    background: linear-gradient(180deg, #fff7eb, #f9bd6a);
}
header{
    display: block;
    height: 10vh;    
}
content{
    display: block;
    height: 80vh;    
}
footer{
    display: block;
    height: 10vh;    
}